<%= render partial: 'shared/f-header'%>

<div class = 'block'>
  <div class = 'block__user'>
    <div class = 'block__user__image'>
      <i class="fas fa-user"></i>
    </div>
    <div class = 'block__user__name'>
      <span><%= current_user.nickname %></span>
    </div>
  </div>

  <ul class = 'block__choice'>
    <li><%= link_to '投稿した記事一覧', user_path %></li>
    <li><%= link_to 'いいねした記事一覧', mylike_path %></li>
  </ul>

  <div class = 'f-contents'>
    <%= render partial: 'shared/like-card' %>
  </div>
</div>