<div class = "header">
  <%= render partial: 'shared/header'%>
</div>

<div class = "contents">
  <div class = "filters">
    <ul class = "filters__category">
      <li><%= link_to 'All', '' %></li>
      <li><%= link_to 'Cook', '' %></li>
      <li><%= link_to 'Clean', '' %></li>
      <li><%= link_to 'Beauty', '' %></li>
      <li><%= link_to 'Other', '' %></li>
    </ul>
  </div>

  <style>/*
  <div class = "popular">
    <span>人気投稿</span>
    <%= render partial: 'shared/card'%>
  </div>
  */</style>

  <div class = "arrival">
    <span>新着記事</span>
    <%= render partial: 'shared/card' %>
</div>