<%= render partial: 'shared/f-header'%>

<%= render partial: 'shared/f-intro'%>

<%= render partial: 'shared/f-category'%>

<div class = 'f-index'>
  <span class = 'f-index__title'>
    Articles
  </span>
</div>

<div class = 'f-contents'>
  <%= render partial: 'shared/other-card' %>
  <%= paginate(@articles) %>
</div>