<div class = 'header'>
  <%= render partial: 'shared/header'%>
</div>

<div class = 'main'>

  <div class = 'main__title'>
    <%= simple_format(@article.title) %>
  </div>

  <% if user_signed_in? && current_user.id == @article.user_id %>
    <%= link_to 'この記事を削除する', "/articles/#{@article.id}", method: :delete %>
    <%= link_to 'この記事を編集する', edit_article_path, method: :get %>
  <% end %>

  <ul class = 'gnav'>
    <li><a href="">menu</a>
      <ul>
        <li><%= link_to 'この記事を削除する', "/articles/#{@article.id}", method: :delete %></li>
        <li><%= link_to 'この記事を編集する', edit_article_path, method: :get %></li>
      </ul>
    </li>
  </ul>

  <div class = 'main__image'>
    <div class = 'main__image__box'>
      <%= image_tag @article.image.url, class: 'main__image__box--pic'%>
    </div>
  </div>

  <div class = 'main__text'>
    <%= simple_format(@article.text) %>
  </div>

  <hr>

  <div class = 'main__index'>
    <span>コメント一覧</span>
  </div>

  <div class = 'main__comment'>
    <div class = 'main__comment__user'>
      <div class = 'main__comment__user__image'>
      </div>
      <div class = 'main__comment__user__text'>
        <span>なかなかいいアイデアですね！！</span>
      </div>
    </div>
  </div>
</div>