<div class = 'header'>
  <%= render partial: 'shared/header'%>
</div>

<div class = 'main'>

  <div class = 'main__title'>
    <%= simple_format(@article.title) %>
  </div>

  
  <% if user_signed_in? && current_user.id == @article.user_id %>
    <ul class = 'gnav'>
      <li><a href=''><i class="fas fa-chevron-down"></i></a>
        <ul>
          <li><%= link_to 'この記事を削除する', "/articles/#{@article.id}", method: :delete %></li>
          <li><%= link_to 'この記事を編集する', edit_article_path, method: :get %></li>
        </ul>
      </li>
    </ul>
  <% end %>

  <div class = 'main__image'>
    <div class = 'main__image__box'>
      <%= image_tag @article.image.url, class: 'main__image__box--pic'%>
    </div>
  </div>

  <div class = 'main__text'>
    <%= simple_format(@article.text) %>
  </div>

  <hr>

  <div class = 'main__form'>
    <% if current_user %>
      <%= form_tag("/articles/#{@article.id}/comments", method: :post, id: "new_comment") do %>
        <textarea name="text" placeholder="ライフハック術を実践した感想などを描いてください" class = 'comment-form'></textarea>
        <input type="submit" value="コメントする" class = 'comment-send'>
      <% end %>
    <% end %>
  </div>

  <div  class = 'main__like' id = "like-<%= @article.id %>">
    <%= render partial: 'shared/like' , locals: { article: @article } %>
  </div>


  <div class = 'main__index'>
    <span>コメント一覧</span>
  </div>

  <% if @comments %>
    <% @comments.each do |comment| %>
      <div class = 'main__comment'>
        <div class = 'main__comment__user'>
          <div class = 'main__comment__user__name'>
            <span><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %><span>
          </div>
          <div class = 'main__comment__user__image'>
          </div>
          <div class = 'main__comment__user__text'>
            <span><%= comment.text %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %> 


</div>